img{
    height: 10ic;
    padding-left:1%;
    align-items: center;
}
.card{
    padding-top: 2ic;
    padding-right: 20%;
    height: 20ic;
    width: 0ic;
   
}
.size{
   background-image: "docback.jpeg";
    
}
